.vs
.vscode
Controller\bin\*
Controller\obj\*
Repository\bin\*
Repository\obj\*
Service\bin\*
Service\obj\*
.exe
.cache
/Controller/obj/Debug/net6.0/Controller.AssemblyInfo.cs
/Controller/obj/Debug/net6.0/Controller.AssemblyInfoInputs.cache
/Controller/obj/Debug/net6.0/Controller.csproj.AssemblyReference.cache
/Controller/obj/Debug/net6.0/Controller.GeneratedMSBuildEditorConfig.editorconfig
/RabbitMQ/obj/Debug/net6.0/RabbitMQ.AssemblyInfo.cs
/RabbitMQ/obj/Debug/net6.0/RabbitMQ.AssemblyInfoInputs.cache
/RabbitMQ/obj/Debug/net6.0/RabbitMQ.assets.cache
/Controller/obj/Debug/net6.0/Controller.assets.cache
/RabbitMQ/obj/Debug/net6.0/RabbitMQ.csproj.AssemblyReference.cache
/RabbitMQ/obj/Debug/net6.0/RabbitMQ.GeneratedMSBuildEditorConfig.editorconfig
/Repository/obj/Debug/net6.0/Repository.AssemblyInfo.cs
/Repository/obj/Debug/net6.0/Repository.AssemblyInfoInputs.cache
/Repository/obj/Debug/net6.0/Repository.GeneratedMSBuildEditorConfig.editorconfig
/Repository/obj/Debug/net6.0/Repository.assets.cache
/Repository/obj/Debug/net6.0/Repository.csproj.AssemblyReference.cache
/Service/obj/Debug/net6.0/Service.assets.cache
/Service/obj/Debug/net6.0/Service.AssemblyInfo.cs
/Service/obj/Debug/net6.0/Service.GeneratedMSBuildEditorConfig.editorconfig
/Service/obj/Debug/net6.0/Service.csproj.AssemblyReference.cache
/Service/obj/Debug/net6.0/Service.AssemblyInfoInputs.cache
/Controller/obj/project.nuget.cache
/RabbitMQ/obj/project.nuget.cache
/Repository/obj/project.nuget.cache
/Service/obj
/Controller/obj/Release/net6.0/Controller.assets.cache
/Controller/obj/Release/net6.0/Controller.csproj.AssemblyReference.cache
/RabbitMQ/obj/Release/net6.0/RabbitMQ.assets.cache
/RabbitMQ/obj/Release/net6.0/RabbitMQ.csproj.AssemblyReference.cache
/Repository/obj/Release/net6.0/Repository.assets.cache
/Repository/obj/Release/net6.0/Repository.csproj.AssemblyReference.cache
/Service/obj/Release/net6.0/Service.assets.cache
/Service/obj/Release/net6.0/Service.csproj.AssemblyReference.cache
/Controller/obj/Debug/net6.0/apphost.exe
/Controller/obj/Controller.csproj.nuget.dgspec.json
/Controller/obj/Controller.csproj.nuget.g.props
/Controller/obj/project.assets.json
