<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/d640552d-9b4e-4550-af82-aa2181167509/resourceGroups/resource2/providers/Microsoft.Web/sites/vwaterwebapp</ResourceId>
    <ResourceGroup>resource2</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://vwaterwebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b4444f39-6ce0-4e95-94b3-91f2c20cefcc</ProjectGuid>
    <PublishUrl>https://vwaterwebapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$vwaterwebapp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>