<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/34f7cb09-6ddc-4a8c-a5eb-54d93c55db95/resourceGroups/resource1/providers/Microsoft.Web/sites/vwaterweb</ResourceId>
    <ResourceGroup>resource1</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://vwaterweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b4444f39-6ce0-4e95-94b3-91f2c20cefcc</ProjectGuid>
    <PublishUrl>https://vwaterweb.scm.azurewebsites.net/</PublishUrl>
    <UserName>$vwaterweb</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>